
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%; /* Ensure header spans full width */
    margin: 0; /* Remove any default margins */
    border-radius: 0.2rem;
    font-family: 'Josefin Sans', sans-serif; /* Use Josefin Sans as the primary font */

  }
  
  nav {
    width: 100%; /* Ensure nav element spans full width */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  @media (max-width: 768px) {
    nav ul li {
      margin: 0.5rem;
    }
  
    nav ul li a {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 0.5rem 0;
    }
  
    nav ul li a {
      font-size: 1rem;
    }
  }
  